p {
    margin: 0;
}

.item-form {
    display: flex;
    gap: 1rem;
    flex-direction: column;

    .field {
        display: flex;
        flex-direction: column;
        gap: 0.25rem;
    }
}

.item-list {
    list-style: none;
    padding-left: 0;

    li {
        display: flex;
        gap: 1rem;
    }
}

.container {
    display: flex;
    justify-content: center;
    gap: 1rem;
}
